@font-face{
    font-family: 'Pacifico';
    src: url(../Fonts/Pacifico.ttf);
    font-weight: normal;
    font-style: normal;
    }

@font-face{
    font-family: 'PT_sans_web_bold';
    font-weight: bold;
    font-style: normal;
    src: url(../Fonts/PT_Sans-Web-Bold.ttf);
    }
@font-face{
    font-family: 'PT_sans_web_bolditalic';
    src: url(../Fonts/PT_Sans-Web-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
    }
@font-face{
    font-family: 'PT_sans_web_italic';
    src: url(../Fonts/PT_Sans-Web-Italic.ttf);
    font-weight: normal;
    font-style: italic;
    }
 @font-face{
     font-family: 'PT_sans_web_regular';
     src: url(../Fonts/PT_Sans-Web-Regular.ttf);
     font-weight: normal;
     font-style: normal;
     }

*{
    margin: 0;
    padding: 0;
    font-family: PT_Sans-Web-Regular;
    font-weight: normal;
    font-style: normal;
}

header, nav, main {
    padding: 5px 10%;
}

body{
    /* background-image: url(/Effects/back.png); */
}

h2{
    font-family: 'Pacifico';
}

h3{
    font-family: 'PT_sans_web_regular';
    font-weight: bold;
}

h4{
    font-family: 'Pacifico';
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
}

img{
    box-shadow: 3px 2px 10px #272727;
    border-radius: 3%;
}


p{
    line-height: 20px;
}
/* HEADER */
/* ====== */

header{
    display: flex;
    justify-content: space-between;
    z-index:2;
    height: 20px;
    background-color: #272727;
}


.acc_name{
    color: white;
    font-family: 'PT_Sans-Web-Bold';
    font-weight: bold;
}

.manage_account>a{
    text-decoration: none;
    color: #6B6B6B;
    font-family: PT_Sans-Web-Regular;
    font-weight: normal;
    font-style: normal;
}

.sign_btn>a{
    text-decoration: none;
    color: #6B6B6B;
    font-family: 'PT_Sans-Web-Bold';
    font-weight: bold;
}

.nav-toggle {
    display: none;
    width: 0px;
    position: relative;
    cursor: pointer;
}
.nav-toggle img{
    width: 0px;
}



/* =NAV== */
/* ====== */

nav{
    display: flex;
    height: 100px;
    background-color: inherit;
    box-shadow:2px 0 2px 2px black;
    opacity: 1;
}

.logo{
    margin-left: 7vw;
}

.logo>img{
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: none;
    border-radius: none;
}
nav>div{
    flex: 1 1 auto;
    align-self: center;
}

.search_bar{
    display: flex;
    justify-content: flex-end;
}

.search_box_input{
    outline: none;
    padding: 5px;
    width: 90%;
    margin-right: 2px;
    opacity: 0.6;
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: inset 1px 1px 10px 1px rgba(202, 202, 202, 0.3);
}

.search_box_button{
    font-family: 'PT_sans_web_regular';
    border: none;
    padding: 5px;
    color: rgba(175, 175, 175, 0.9);
    background-color: rgba(111, 111, 111, 0.0);

}

.search_box_input:focus + .search_box_button {
    color:rgba(128, 128, 128, 0.8);
    border: none;
    box-shadow: inset 1px 1px 10px  rgba(133, 133, 133, 0.1);
    background-color: rgba(218, 216, 216, 0.1);
    font-weight: 500;
}

.back_to_top, .your_acc{
    display: none;
}

.menu>ul>li{
    border: none;
    list-style: none;
    display: inline-block;
}
.menu>ul>li>a{
    text-decoration: none;
    color: red;
    padding: 20px;
}

.menu>ul>li>a:hover{

}

.menu>ul>li>a:active{

}

.menu>ul>li>a:visited {
    color: red;
}


/* ABOUTp */
/* ====== */

.about_page_block{
    display: flex;
    color:rgb(221, 221, 221); 
    padding: 20px 10%;
    background-color: #CC3333;
    box-shadow: inset 0px 1px 5px  black,inset -1px 0px 5px  rgb(236, 13, 13) ;
}


.about_page{
    flex: 3 1;
    /* margin: 5px 30px 5px 0px; */
}

.add_to_card{
    flex: 1 1;
    align-self: center;
}
.about_page>div:first-child{
    font-weight: bold;
    text-shadow: 3px 3px 10px black;
}

.pacifico{
    font-family: Pacifico;
    font-size: 4vw;
    color:rgb(221, 221, 221);
    text-shadow: 3px 3px 10px black;
    padding-bottom: 15px;
}

/* button add to card */

a.add_cart_btn{
    transition: 0.6s;
    width: 100%;
    display: block;
    text-decoration: none; 
    user-select: none; 
    background: #B23434; 
    color: #EEEBEC;
    font-weight: bold;
    text-shadow: 2px 1px 5px rgb(46, 46, 46);
    outline: none;
    /* margin-right: 30px; */
    text-align: center;
    padding: 20px 0px ;
    border-radius: 10px;
    box-shadow: inset 0px 1px 1px rgb(168, 112, 112),inset 0px -2px 4px rgb(43, 29, 29);
}

a.add_cart_btn:hover{
    transition: 0.6s;
    box-shadow: inset 0px 1px 10px rgb(82, 18, 18),inset 0px -1px 2px  rgb(250, 203, 203);
}

a.add_cart_btn:active{
    box-shadow: inset 0px 1px 10px rgb(36, 8, 8),inset 0px -1px 2px  rgb(95, 27, 27);
    background: #90282C;
}



.add_to_card>span{
    color: #EEEBEC;
    font-weight: bold;
    text-shadow: 2px 1px 5px rgb(46, 46, 46);
    font-size: 10px;
    display: block;
    text-align: center;
    padding-top: 10px; 
}



/* =MAIN= */
/* ====== */

main{
    display: flex;
    flex-flow: row;
}

.article_block_1{
    flex: 3 1;
    margin: 5px 30px 5px 0px;
}

.article_block_2{
    flex: 1 1;
    margin: 5px 0px 5px 0px;
}

main>article>p{
    text-align: justify;
}
main>article>p>img{
    float: right;
    margin: 0px 0px 0px 20px;
    width: 20vw;
}
main>article>h3{
    padding: 10px 0px;
}

main>article>h3>span{
    font-family: 'PT_sans_web_regular';
    text-decoration: line-through;
    color: rgb(177, 177, 177);
    font-weight: inherit;
}

.rec_img{
    margin-top: 20px;
    margin-bottom: 5px;
}

.rec_img>img{
    width: 100%;
}

.rec_img>span{
    display: block;
    text-align: center;
    color: gray;
}

.article_block_1>p>img:before{
    content: "ON SALE";
    color: white;
    height: 20px;
    width: 20px;
    background-color: red;
    position: absolute;
    display: block;
    right: 200px;
}

.top_revievs::before{
    content: open-quote;
    /* display: inline-block; */
    position: absolute;
    left: 10%;
    margin-top: -60px;
    
    font-size: 150px;
    color: rgba(201, 199, 199, 0.514);
}

.top_revievs::after {
    content: no-close-quote;
  }

.top_revievs{
    display: block;
    margin:40px 0px 40px 90px;
    color: gray;

    
}

blockquote{
    font-size: 25px;
    /* font-weight: bold; */
    margin-bottom: 10px;
}

.top_revievs>span{
    margin: 10px 0px 0px 40px;
}

blockquote, .top_revievs>span{
    font-style: italic; 
    /* margin: 10px 0px 0px 20px; */
}

.article_block_2>img{
    width: 25vw;
}

.article_block_2>h2{
    margin-top: 20px;
}

.line_after{
    border-bottom: 1px dotted rgb(204, 204, 204);
    padding-bottom: 20px;
}

.bottom_menu{
    display: none;
}

/* TRACK BUTTON */

.music_block{
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "track track" "track track";
}

.track{
    overflow: hidden;
    background-color: #FAC7D2;
    height: 80px;
    border-radius: 4px;
    margin-top: 10px;
    z-index: 2;
}

.previev{
    overflow: hidden;
    transform: skew(11deg);
    position: relative;
    transform: rotate(-45deg);
    background-color: red;
    color: rgb(209, 209, 209);
    display: table;
    height: 10px;
    font-size: 10px;
    padding: 3px 20px;
    top: 10px;
    left: -20px; 
    user-select: none;
}

.play{
    position: absolute;
    margin-left: 40px;
    display: block;
    background-color:rgb(255, 0, 0);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.strelka{
    transform: scaleX(2);
    position: absolute;
    border: 8px solid transparent;
    display: block;
    margin-top: 15px;
    margin-left: 26px;
    height: 5px;
    width: 5px;
    border-left-color: white;
    border-right: 0;
}

.song_name{
    font-family: Pacifico;
    font-weight: bold;
    font-size: 25px;
    margin-top: -10px;
}

.duration{
    margin-top: -7px;
    font-size: 14px;
}

.song_name, .duration{
    margin-left: 150px;
}

/* FOOTER */
/* ====== */


.t_footer{
    display: flex;
    padding: 0px 10%;
    background-color: #CBCBCB;
}

.t_footer>div{
    flex:1;
    padding: 5px 0px;
    font-family: PT_Sans-Web-Regular;
    font-weight: normal;
    font-style: normal;
}

.t_footer>div:nth-child(2n){
    padding: 5px 10px;
}

.t_footer>div>p{
    text-align: justify;
}

.email{
    width: calc(100% - 10px);
    /* width: 100%; */
    display: block;
    padding: 5px 5px;
    border: none;
    margin-top: 20px; 
}

.button{
    font-size: 14px;
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    border: 1px solid rgb(192, 192, 192);
}

.b_footer{
    padding: 7px 10%;
    display: flex;
    height: 22px;
    background-color: #272727;
    font-size: 15px;
    color: #6B6B6B;
}

.copy{
    flex:1;
    font-family: 'PT_sans_web_regular';
    font-weight: bold;
}

.handmade{
    flex: 1;
    text-align: right;
    font-family: 'PT_sans_web_regular';
    font-weight: bold;
}


/* .rec_img>img:hover{
    transition: 3s;
    transform: scaleX(-1);
    background: red;
} */


@media (max-width: 1280px) {

    *{
        transition: 1s;
    }

    header, nav, main {
        padding: 5px 2%;
        transition: 0.4s;
    }

    .about_page>div:first-child{
        padding-top: 20px;
    }

    /* MENU DOWN */
    /* ========= */

    body{
        display: flex;
        flex-direction: column;
    }


    main{
        order: 3;
    }

    footer{
        order:5;
    }

    header{
        order:1;
        margin-bottom: 120px;
        transition: 0s;
    }

    .about_page_block{
        order:2;
    }

    nav{
        order:4;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    .menu_top>ul>li{
        padding: 10px 0px;
        border-top: 1px solid rgb(160, 159, 159);
    }

    .menu_top>ul>li:last-child{
        border-bottom: 1px solid rgb(160, 159, 159);
    }

    .back_to_top, .your_acc{
        display: inline;
    }

    .nav_top{
        padding: 40px 2%;
    }

    .nav_top>div{
        align-self: stretch;
    }

    .search_bar_top{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: flex-start;
    }

    .search_box_button{
        value: "GO";
    }

    .email{
        margin:0px;
        /* padding-right: 0px; */
        /* padding: 0; */
        width: calc(100% - 10px);
    }
    .logo{
        /* display: block; */
        /* width: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin: 0px;
        top: 25px;
        /* padding-right: 5px; */
        left: 0;
    }

    /*           */
    /* ========= */

    /* .bottom_menu{
       margin-top: 50px;
        height: 300px;
        background-color: inherit;
        box-shadow: none;
        opacity: 1;
    }

   
    .menu_top, .search_bar_top{
        opacity: 0;
        ttransition: 1s;
        display: none;
    }

    .nav_top{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: flex-start;
} */

  

    /* MENU BOTTOM */

    

    /* .menu_bottom>ul>li>a{
        text-decoration: none;
        color: green;
        font-size: 20px;
    } */

    /* .bottom_menu, .search_bar_top{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: flex-start;
    } */

    nav>div{
        align-self: center;
        width: 100%;
    }

    .menu>ul>li{
        display: block;
    }

    .search_bar>input{
        display: block;
        width: 100%;
    }

    

    .article_block_1{
        margin-right: 0px;
    }

    .about_page_block, .t_footer, .b_footer{
        padding: 0 2%;
    }

    .nav-toggle{
        display: block;
        width: 40px;
        margin-left: 20px;
    }

    .acc_name{
        flex: 1 1 auto;
    }

    .nav-toggle>img{
        width: 20px;
    }

    .sign_btn{
        float: right;
    }

    main{
        flex-flow: column wrap;
    }

    .top_revievs::before{
        left: 2%;
    }
    .about_page_block{
        flex-direction: column;

        /* display: inline-block; */
        /* width: 100%; */
        /* padding-right: 10%; */
    }

    .add_to_card{
        align-self: stretch;
        margin-bottom: 20px;
    }

    .recomends_block{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .music_block{
        display: flex;
        flex-flow: column wrap;
    }

    .track{
        flex: 1 1 auto; 
    }

    .song_name, .duration{
        margin-left: 250px;
    }


    .t_footer {
        flex-flow: column wrap;
    }

    .t_footer>div:nth-child(2n){
        padding: 5px 0px;
    }
  }
